@import 'tailwindcss';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: 'Geist', sans-serif;
  --font-boldonse: 'Boldonse', sans-serif;
  --font-jetbrains-mono: 'JetBrains Mono', monospace;
}

button,
a {
  @apply cursor-pointer;
}
