@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Geist Sans', sans-serif;
  --font-logo: 'Boldonse', sans-serif;
}

html,
body {
  @apply h-screen antialiased;
}

button,
a {
  @apply cursor-pointer;
}
