@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-logo: 'Boldonse', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

:root {
  --ui-radius: 0.375rem;
}

button,
a {
  @apply cursor-pointer;
}
